<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Selenium Assignment Suite">

<listeners>
<listener class-name="com.seleniumassignment.qa.ExtentReportListener.ExtentReportListener"></listener>

</listeners>


  <test name="Selenium Assignment Test Cases">
    <classes>
      		<class name="com.seleniumassignment.qa.testcases.LoginPageTest"></class>
            <class name="com.seleniumassignment.qa.testcases.HomePageTest"/>
          <!--   --> <class name="com.seleniumassignment.qa.testcases.PersonalPageTest"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->

